@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
    font-family: 'd-din';
    src: url('../imgs/D-DIN.otf');
}
@font-face {
    font-family: 'd-din';
    src: url('../imgs/D-DIN.otf');
}
@font-face {
    font-family: 'd-din-bold';
    src: url('../imgs/D-DIN-Bold.otf');
    font-weight: bold;
}
* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'd-din' , sans-serif;
    box-sizing: border-box;
  
}

body {
    background-image: url('../imgs/fundo.png');
}

#left {
    top: 100px;
    background-color: #005924;
    border-radius: 15px 0 0 15px;
}

#left>img {
    padding: 15px;
}

#right {
    top: 100px;
    background-color: #fff;
    border-radius: 0 15px 15px 0;
}

table strong {
    LINE-HEIGHT: 19px;
}

#about {
    margin: -5px;
    font-family: tahoma, arial, verdana;
    font-size: 14px;
    background-repeat: no-repeat;
    width: 559px;
    height: auto;
    background-size: 103%;
}

#about strong {
    color: #000;
    font-weight: 400;
   
}
#about span{
    color: #000;
    text-align: left;
    display: inline-flex;

}
#telCard1{
  

}

#about #nomeCard {
    margin: 0;
    font-size: 22px;
    color: #005924;
    display: block;
    font-weight: bold;
}

#about #cargoCard {
    margin: 0;
    font-size: 16px;
    color: #747474;;
    margin-top: 5px;
}

#about #cargoCard {
    font-weight: bold;
    color: #222;
}

#dados {
    margin-bottom: 20px;
    position: relative;
    height: 120px;
}


#signature-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wrapper-nome-cargo {
    width: 200px;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    font-family: 'd-din-bold';
    font-weight: bold;
}
#divisor{
    color: #747474;;
    visibility: hidden;
}

#wrapper-tel-email-local {
    margin-top: 20px;
    height: 100%;
    width: 270px;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #000;
}

#wrapper-tel-email-local * {
    margin: 0;
}

.footer2 {
    position: absolute;
    width: 100%;
    left:30px;
    bottom: -33px;
}

.footer2 p {
    display: inline-block;
    margin: 0;
  
    font-size: 11px;
    text-transform: uppercase;
}

.footer2 #social-media {
    text-transform: none;
    margin-left: 62px;
    color: #747474;
}

.footer2 #site {
    margin-left: 20px;
}



.footer2 p #bolder{
    margin-left: 5px;
    font-weight: bold;
}